*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Montserrat;
    background-image: url(./../images/task4-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;

}
span {
    color: #24208a;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
header {
    color: #24208a;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.box .container .input-fieled {
    display: flex;
    position: relative;
}
.input {
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0px 0px 0px 40px;
    color: #24208a;
    background-color: rgba(255,255,255, 0.4);
    margin-bottom: 30px;
   
}
.box .container .input-fieled .fa , .fa-user,.fa-lock {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #24208a;
    
}
/* .box .container .input-fieled .fa , .fa-lock {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #24208a;
    
} */
    
    


::-webkit-input-placeholder {
    color: #24208a;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    width: 100%;
    color: #24208a;
    background-color: rgba(255,255,255, 0.7);
    cursor: pointer;
    transition: 0.3s;
}
.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #24208a;
    margin-top: 15px;
}

.bottom .right a {
    color: #24208a;
    text-decoration: none;
}
